[package]
name = "rspin"
version = "0.1.0"
edition = "2024"

[dependencies]
clap = { version = "4.5.60", features = ["derive"] }
crossterm = "0.29.0"
serde = { version = "1.0.228", features = ["derive"] }
